<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FBPostsFetcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FBPostsFetcher" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=FBPostsFetcher;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <FBPostsFetcher.Properties.Settings>
      <setting name="FBAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="FBID" serializeAs="String">
        <value>119279178101235</value>
      </setting>
    </FBPostsFetcher.Properties.Settings>
  </userSettings>
</configuration>